.container {
  padding: 1rem 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  width: 100%;
}

/* ------------------------ RESPONSIVE ------------------------ */
@media screen and (width<=769px) {
  .container {
    padding: 1rem 2rem;
  }
}
@media screen and (width<=321px) {
  .container {
    padding: 1rem;
  }
}
